/* 카드 타입 유형 CSS */

/* cardType01 */
#cardType {}

.cardType01 {
    font-family: 'GmarketSans';
    padding: 60px 0;
}
.cardType01 h2 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 7px;
}
.cardType01 p {
    font-weight: 200;
    font-size: 26px;
    line-height: 1.28;
    margin-bottom: 40px;
}

/* float을 이용한 레이아웃 */
/* .card-wrap {
    overflow: hidden;
}
.card-wrap > div {
    float: left;
    width: 387px;
    margin-right: 19px;
}
.card-wrap > div:last-child {
    margin-right: 0;
}*/

/* flex를 이용한 레이아웃 */
.card-wrap {
    display: flex;
}