/* 01 */
body {
    background-color: #F3F3F3;
}
.imageType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
/* imageTypee01 */
.imageType01 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType01 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 36px;
}
.imageType01 .image-wrap {
    overflow: hidden;
}
.imageType01 .image {
    position: relative;
    float: left;
    width: 590px;
    height: 385px;
}
.imageType01 .image:first-child {
    margin-right: 20px;
}
.imageType01 .image .image-cont {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
}
.imageType01 .image .image-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 6px;
}
.imageType01 .image .image-desc {
    font-size: 14px;
    font-weight: 300px;
    line-height: 1.4;
    padding-right: 30px;
    word-break: keep-all;
}
.imageType01 .image .image-btn {
    padding: 8px 18px;
    display: inline-block;
    background-color: #777;
    color: #fff;
    margin-top: 10px;
}
.imageType01 .image .image-btn.red {
    background-color: rgba(0, 0, 0, 0.4);
}
.imageType01 .image .image-btn.yellow {
    background-color: rgba(0, 0, 0, 0);
}
.imageType01 .image .image-cont.s2 {
    background-color: rgba(0, 0, 0, 0.4);
    width: 400px;
    padding: 20px;
}
.imageType01 .image .image-cont.s2 .image-desc {
    padding-right: 0;
}
.imageType01 .image .image-cont.s2 .image-btn {
    padding: 0;
    border-bottom: 1px solid #fff;;
}


/* imageType01 */
.imageType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
.imageType01 {
    padding: 100px 0;
    font-family: 'GmarketSans';
    overflow: hidden;
}
.imageType01 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 36px;
}
.imageType01 .image-wrap {
    overflow: hidden;
}
.imageType01 .image {
    position: relative;
    float: left;
    width: 590px;
    height: 385px;
}
.imageType01 .image:first-child {
    margin-right: 20px;
}
.imageType01 .image .image-cont {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
}
.imageType01 .image .title {
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 4px;
}
.imageType01 .image .desc {
    font-size: 14px;
    font-weight: 300px;
    line-height: 1.4;
    padding-right: 30px;
}
.imageType01 .image .btn {
    padding: 8px 0px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
}
.imageType01 .image .image-cont.s2 {
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
}
.imageType01 .image .image-cont.s2 .desc {
    padding-right: 0;
}
.imageType01 .image .image-cont.s2 .btn {
    padding: 0;
    border-bottom: 1px solid #fff;
}


/* imageType02 */
.imageType02 {
    padding: 100px 0;
    font-family: 'GmarketSans';
}
.imageType02 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 36px;
}
.imageType02 .image-wrap {
    display: flex;
    justify-content: space-between;
}
.imageType02 .image {
    width: 386px;
    position: relative;
    perspective: 800px;
}
.imageType02 .image::after {
    /* 가상요소 */
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    left: 30px; top: 30px; right: 30px; bottom: 30px;
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.4s ease-in-out;
}
.imageType02 .image:hover::after {
    opacity: 0.9;
    transform: rotateX(0deg);
}
.imageType02 .image .image-img {}
.imageType02 .image .image-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, 50%);
    z-index: 1000;
    transition: all 0.3s ease-out;
}
.imageType02 .image:hover .image-cont {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.imageType02 .image .image-title {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}
.imageType02 .image .image-btn {
    color: #fff;
    padding: 7px 24px 5px 24px;
    background: #000;
    border-radius: 40px;
    font-weight: 300;
    margin-top: 15px;
    display: inline-block;
}


/* imageType03 */
.imageType03 {
    padding: 100px 0;
    font-family: 'GmarketSans';
}
.imageType03 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
}
.imageType03 .image-wrap .image .img0 {
    width: 590px;
    height: 590px;
}
.imageType03 .image-wrap .image .img1 {
    width: 285px;
    height: 285px;
}
.imageType03 .image-wrap .image {
    position: relative;
}
.imageType03 .image-wrap {
    display: flex;
    justify-content: space-between;
}
.imageType03 .image-wrap .wrap2 .image {
    position: relative;
}
.imageType03 .image-wrap .image .wrap {
    position: absolute;
    left: 20px;
    bottom: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}
.imageType03 .image-wrap .image .wrap .title {
    margin: 3px 15px 10px 9px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    display: block;
}
.imageType03 .image-wrap .image .wrap .desc {
    margin: 0px 15px 11px 9px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    display: block;
}
.imageType03 .image-wrap .image .wrap .keyword {
    margin: 0px 0px 0px 9px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.imageType03 .image-wrap .wrap2 {
    display: block;
}
.imageType03 .image-wrap .image .wrap .title2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}


/* imageType04 */
.imageType04 {
    padding: 150px 0;
    font-family: 'NEXONLv2Gothic';
}
.imageType04 h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 67px;
}
.imageType04 .image-wrap {
    display: flex;
    justify-content: space-between;
}
.imageType04 .image-wrap .image {
    position: relative;
}
.imageType04 .image-wrap .image .image-img {
    width: 386px;
    height: 610px;
}
.imageType04 .image-wrap .image .text-wrap {
    position: absolute;
    left: 41px;
    top: 68px;
}
.imageType04 .image-wrap .image .tilte {
    font-size: 16px;
    font-weight: 500;
    color: #b5b9c5;
    margin-bottom: 26px;
    display: block;
    
}
.imageType04 .image-wrap .image .desc {
    font-size: 27px;
    font-weight: 500;
    display: block;
}