@font-face {
    font-family: 'Athene';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/18468/Athene.woff') format('woff');
}
body {
    overflow-x: hidden;
}

/* layout */
#contents {}
#section1 {
    background: #F4F4F4;
}
#section2 {
    background: #E9E7D4;
}
#section3 {
    background: #DEB872;
}
#section4 {
    background: #F4C4C4;
}
#section5 {
    background: #A6D1C9;
}
#section6 {
    background: #E0F8FD;
}
#seciton7 {
    background: #D2D2D2;
}


/* header */
#header {
    position: fixed; 
    left: 0; top: 0;
    width: 100%;
    font-family: 'Montserrat';
}
#header > div {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5vw;
    border-bottom: 1px solid #211432;
}
#header .left {
    flex: 0 0 30%;
}
#header .center {
    flex: 0 0 40%;
    text-align: center;
    font-weight: 500;
}
#header .right {
    flex: 0 0 30%;
    text-align: right;
}
#header .right li {
    display: inline;
}
#header .right li a {
    color: #211432;
    text-transform: uppercase;
    margin-left: 20px;
}
@media (max-width: 800px) {
    #header .left {
        display: none;
    }
    #header .center {
        text-align: left;
    }
}

/* section1 */
.main {
    text-align: center;
    font-family: 'Athene';
    padding-bottom: 70vw;
}
.main .text1 {
    padding-top: 10vw;
    padding-bottom: 2vw;
    white-space: nowrap;
    font-size: 14vw;
    letter-spacing: -0.6vw;
    line-height: 1;
    text-indent: -1vw;
    color: #211432;
}
@media (max-width: 800px) {
    .main .text1 {
        padding-top: 30vw;
    }
}
.main .text2 {
    font-size: 14vw;
    color: #211432;
    letter-spacing: -0.6vw;
    line-height: 1;
    color: #211432;
    margin-top: 4vw;
    padding-bottom: 2vw;
    margin-left: 5vw;
}
.main .line1 {
    width: 90vw;
    height: 1px;
    background: #211432;
    margin: 0 auto;
}
.main .line2 {
    width: 90vw;
    height: 1px;
    background: #211432;
    margin: 0 auto;
}
.main .imgWrap {
    width: 36vw;
    background: #211432;
    margin: 10vw auto 0;
    height: 44vw;
    padding: 4vw;
}
.main .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
}
.main .wrap .var {
    position: absolute;
    width: 21vw;
    height: 4px;
    background: #211432;
    margin: 0 50%;
}
.main .copyright {
    width: 23vw;
    height: 23vh;
    color: #211432;
    margin-right: 3vw;
}
@media (max-width: 800px){
    .main .imgWrap {
        width: 56vw;
        height: 72vw;
    }
}
.main .imgWrap .img {
    width: 100%; height: 100%;
    background-image: url(../img/portfolio-img0\ \(2\).jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/* section2 */
.about {
    color: #E83C38;
    font-family: 'Athene';
    padding-top: 10vw;
}
.about .number {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.27vw;
    padding-bottom: 6vw;
    margin-left: 5vw;
}
.about .title {
    font-size: 17vw;
    letter-spacing: -0.6vw;
    line-height: 1;
    text-indent: -1vw;
}
.about .title span {
    margin-left: 2%;
}
.about .aboutMe {
    font-family: 'MaruBuri-Regular';
    font-size: 1.25vw;
    margin: 0 5vw 0 45vw;
    text-align: justify;
    letter-spacing: 0.13vw;
    line-height: 1.5;
    padding-top: 4vw;
}
.about .about-img {
    padding-top: 15vw;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    padding-bottom: 60vw;
}
.about .about-img img {
    width: 25.8854vw;
    height: 25.8854vw;
    margin-right: 3px;
}
.about .about-img img.img4 {
    width: 32.9688vw;
    height: 25.8854vw;
}

/* section3 */
.work {
    font-family: 'Athene';
    color: #7D2222;
    padding-top: 10vw;
}
.work .number {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.27vw;
    padding-bottom: 6vw;
    margin-right: 5vw;
    text-align: right;
}
.work .title {
    font-size: 17vw;
    letter-spacing: -0.6vw;
    line-height: 1;
    text-indent: -1vw;
    text-align: right;
}
.text-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10vw;
}
.work .work-desc {
    font-family: 'MaruBuri-Regular';
    font-size: 1.25vw;
    margin: 0 25vw 0 5vw;
    letter-spacing: 0.13vw;
    line-height: 1.5;
    padding: 4vw 0 2vw;
}
.work .subTitle {
    font-size: 2.5vw;
    margin-left: 5vw;
}
.work .line1 {
    width: 90vw;
    height: 1px;
    background: #7D2222;
    margin: 0 auto;
}
.work .site-wrap {
    padding-top: 10vw;
    margin: 0 0 20vw 5vw;
}
.work iframe {
    position: relative;
    width: 60vw;
    height: 35vw;
}
.work .site-img {
    text-align: center;
}
.work .site-wrap img {
    width: 60vw;
    height: 35vw;
}
.work .megabox {
    position: absolute;
    font-size: 3.5vw;
    z-index: 1;
}
.work .site-wrap i {
    position: absolute;
    margin-top: 7vw;
}
.work .site-desc {
    position: absolute;
    margin-top: -15vw;
    font-family: 'MaruBuri-Regular';
    font-size: 1vw;
    margin-right: 80%;
    text-align: justify;
}
.work .site-summary {
    margin: 0 5vw;
    padding: 10vw 0 50vw;
}
.work .site-summary .site {
    font-size: 2.5vw;
}
.work .site-summary .line {
    margin-bottom: 0.2vw;
}
.work .site-summary .summary {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 2.5vw;
}
.work .site-summary i {
    margin-left: 2vw;
}
.work .site-summary .text {
    height: 7.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7D2222;
}
.work .site-summary .text .Snumber {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.5vw;
    text-align: right;
}

/* section4 */
.script {
    font-family: 'Athene';
    color: #000;
    padding-top: 10vw;
}
.script .number {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.27vw;
    padding-bottom: 6vw;
    margin-right: 5vw;
    text-align: right;
}
.script .title {
    font-size: 17vw;
    letter-spacing: -0.6vw;
    line-height: 1;
    text-indent: -1vw;
    text-align: right;
}
.text-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10vw;
}
.script .script-desc {
    font-family: 'MaruBuri-Regular';
    font-size: 1.25vw;
    margin: 0 25vw 0 5vw;
    letter-spacing: 0.13vw;
    line-height: 1.5;
    padding: 4vw 0 2vw;
}
.script .subTitle {
    font-size: 2.5vw;
    margin-left: 5vw;
}
.script .line1 {
    width: 90vw;
    height: 1px;
    background: #7D2222;
    margin: 0 auto;
}
.script .site-wrap {
    padding-top: 10vw;
    margin: 0 0 20vw 5vw;
}
.script iframe {
    position: relative;
    width: 60vw;
    height: 35vw;
}
.script .megabox {
    position: absolute;
    font-size: 3.5vw;
    z-index: 1;
}
.script .site-wrap i {
    position: absolute;
    margin-top: 7vw;
}
.script .site-desc {
    position: absolute;
    margin-top: -15vw;
    font-family: 'MaruBuri-Regular';
    font-size: 1vw;
    margin-right: 80%;
    text-align: justify;
}
.script .site-summary {
    margin: 0 5vw;
    padding: 10vw 0 50vw;
}
.script .site-summary .site {
    font-size: 2.5vw;
}
.script .site-summary .summary {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 2.5vw;
}
.summary i {
    margin-left: 2vw;
}
.script .site-summary .text {
    height: 7.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7D2222;
}
.script .site-summary .text .Snumber {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.5vw;
    text-align: right;
}

/* section5 */
.animation {
    margin: 0 5vw;
    padding: 10vw 0 70vw;
    color: #E83C38;
}
.animation .site {
    font-family: 'Athene';
    font-size: 2.5vw;
}
.animation .line1 {
    width: 90vw;
    height: 1px;
    background: #E83C38;
    margin: 0 auto;
}

.animation .animation-summary {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.5vw;
    width: 60vw;
    float: right;
    margin: 15vw 0 20vw;
}
.animation .animation-summary .text {
    height: 5.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E83C38;
}
.animation .animation-summary .text:first-child {
    border-top: 1px solid #E83C38;
}
.animation .animation-summary .text .Snumber {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1vw;
    text-align: right;
}

/* section7 */
.contact {
    padding-top: 10vw;
    color: #1D8883;
    margin: 0 5vw;
}
.contact .contact-number {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.27vw;
    margin-bottom: 59px;
}
.contact .contact-title {
    font-family: 'Athene', sans-serif;
    font-size: 8vw;
    line-height: 105%;
    margin-bottom: 5vh;
}
.contact .contactMe {
    font-family: 'MaruBuri-Regular';
    font-size: 1.25vw;
    margin-left: 12%;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 170%;
    margin-bottom: 10vw;
}
.contact .sns {
    margin-bottom: 10vw;
}
.contact .sns span {
    display: block;
    text-align: right;
    font-size: 2.3vw;
    margin-right: 9vw;
}
.contact .address {
    font-size: 3vw;
    margin-bottom: 15vw;
}
.contact .address .email {
    margin-bottom: 2vw;
}
.contact .address .phone {
    font-size: 2vw;
    margin-bottom: 10vw;
}
.contact input {
    border: 1px solid #1D8883;
    border-radius: 5px;
}
#go-top {
    display: none;
    left: 30px;
    bottom: 50px;
    outline: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: #1D8883;
    width: 5vw;
    height: 5vw;
}
.bottom {
    display: flex;
    justify-content: space-between;
}