* {
    margin: 0; 
    padding: 0;
}
body {
    background: #F4F4F4;
    overflow-x: hidden;
    
}
.container {
    margin: 0 100px;
}

/* mainPage */
/* header */
.header {
    height: 100px;
    border-bottom: 1px solid #211432;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;
    color: #211432;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: relative;
    z-index: 10000;
}
/* 햄버거메뉴
.left {
    position: absolute;
    top: 35px;
    cursor: pointer;
}
.left span {
    width: 20px; height: 3px;
    background: #000;
    display: block;
    position: absolute;
    left: 5px; top: 13px;
}
.left span::before {
    content: '';
    width: 20px; height: 3px;
    background: #000;
    position: absolute;
    left: 0; top: 7px;
}
.left span::after {
    content: '';
    width: 20px; height: 3px;
    background: #000;
    position: absolute;
    left: 0; bottom: 7px;
} */
.header a {
    color: #211432;
}
.header .center {
    position: absolute;
    margin-left: 47%;
    font-weight: 500;
}
.header .right ul li {
    display: inline-block;
}
.header .right ul li a {
    margin-left: 1.5vw;
}
/* main */
.main {
    font-family: 'Athene', sans-serif;
    font-size: 12.75vw;
    color: #211432;
}
.main .text {
    white-space: nowrap;
}
.main .line {
    border-bottom: 1px solid #211432;
    margin-top: -3vh;
    position: relative;
}
.main .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
}
.main .wrap .var {
    position: absolute;
    width: 21vw;
    height: 4px;
    background: #211432;
    margin: 0 45%;
}
.main .copyright {
    width: 23vw;
    height: 23vh;
    color: #211432;
    margin-left: 30%;
}
.main .img-wrap .img {
    position: relative;
    width: 35vw;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 198px;
    margin-bottom: 3vh;
    object-fit:contain;
}
.main .img-wrap img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
.main .img-wrap .text {
    position: absolute;
    font-size: 1.75vw;
    margin-left: 27vw;
}
.main .img-wrap .text .developer {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 2.1vw;
}
@media (max-width: 900px){
    .container {
        margin: 0 35px;
    }
    .header .center {
        display: none;
    }
    .main .text {
        margin-bottom: 20px;
    }
    .main .wrap .var {
        margin-top: -20px;
    }
    .main .copyright {
        width: 12vw;
        height: 12vh;
        margin-right: 5%;
        margin-top: -25px;
    }
    .main .img-wrap .img {
        margin-top: 100px;
    }
    .main .img-wrap .text {
        margin-left: 29vw;
    }
}
@media (max-width: 500px){
    .main .img-wrap .img {
        width: 60vw;
    }
    .main .img-wrap .text {
        font-size: 3vw;
        margin-left: 18vw;
    }
    .main .img-wrap .text .developer {
        font-size: 3.5vw;
    }
    .main .wrap .var {
        width: 16vw;
        height: 3px;
    }
}
@media (max-width: 400px){
    .container {
        margin: 0 20px;
    }
    .header {
        height: 50px;
        font-size: 10px;
    }
    .main .text {
        margin-top: 5px;
    }
}

/* aboutPage */
.about {
    margin-top: 80vh;
    font-family: 'Athene', sans-serif;
    color: #E83C38;
    /* background-color: #E9E7D4; */
}
.about .number {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.27vw;
    margin-bottom: 59px;
}
.about .title {
    font-size: 17vw;
    line-height: 105%;
    letter-spacing: -15px;
    margin-bottom: 5vh;
}
.about .title span {
    margin-left: 2%;
}
.about .aboutMe {
    font-family: 'MaruBuri-Regular';
    font-size: 1.25vw;
    margin-left: 43%;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 170%;
}
.about .about-img {
    margin-top: 35vh;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
.about .about-img img {
    /* width: 497px;
    height: 497px; */
    width: 25.8854vw;
    height: auto;
    margin-right: 3px;
}
.about .about-img img.img4 {
    /* width: 663px;
    height: 497px; */
    width: 32.9688vw;
    height: 25.8854vw;
}
@media (max-width: 900px){
    .about .number {
        font-size: 2.1vw;
    }
    .about .title {
        font-size: 20vw;
    }
    .about .aboutMe {
        font-size: 1.6vw;
    }
    .about .about-img {
        margin-top: 15vh;
    }
}
@media (max-width: 500px){
    .about {
        margin-top: 500px;
    }
    .about .number {
        font-size: 3vw;
    }
    .about .title {
        font-size: 30vw;
        margin-left: 8%;
        letter-spacing: -8px;
    }
    .about .title span {
        margin-left: 10%;
    }
    .about .aboutMe {
        font-size: 3vw;
        margin-left: 10%;
        margin-right: 10%;
    }
    .about .about-img {
        margin-left: 77px;
    }
    .about .about-img img {
        width: 60vw;
        height: auto;
        margin-right: 2px;
    }
    .about .about-img img.img4 {
        width: 67vw;
        height: 60vw;
    }
}