@charset "UTF-8";
/* 웹폰트 */
@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-style: normal;
}

/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

.bg01 {
  height: 100vh;
  background-image: url(../img/bg00@2.jpg);
  background-size: cover;
  background-position: center center;
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #11e8bb;
  background: -webkit-gradient(linear, left top, left bottom, from(#11e8bb), to(#8200c9));
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}

#main.game {
  background: -webkit-gradient(linear, left top, left bottom, from(#d4fc79), to(#96e6a1));
  background: linear-gradient(to bottom, #d4fc79 0%, #96e6a1 100%);
}

#main.menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6d365), to(#fda085));
  background: linear-gradient(to bottom, #f6d365 0%, #fda085 100%);
}

#main.mouse {
  background: -webkit-gradient(linear, left top, left bottom, from(#fccb90), to(#d57eeb));
  background: linear-gradient(to bottom, #fccb90 0%, #d57eeb 100%);
}

#main.parallax {
  background: -webkit-gradient(linear, left top, left bottom, from(#fddb92), to(#d1fdff));
  background: linear-gradient(to bottom, #fddb92 0%, #d1fdff 100%);
}

#main.slider {
  background: -webkit-gradient(linear, left top, left bottom, from(#96fbc4), to(#f9f586));
  background: linear-gradient(to bottom, #96fbc4 0%, #f9f586 100%);
}

#contents h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 10vw;
  white-space: nowrap;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8200c9), to(#180522));
  background-image: linear-gradient(to bottom, #8200c9, #180522);
}

#nav {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 10px;
  top: auto;
}

#nav li {
  list-style: none;
  display: inline;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  font-family: "NEXONLv1Gothic";
  -webkit-box-shadow: inset 0 0 0 #fff;
          box-shadow: inset 0 0 0 #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#nav li a:hover {
  -webkit-box-shadow: inset 0 -100px 0 #fff;
          box-shadow: inset 0 -100px 0 #fff;
  color: #6c4a70;
}
